#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

footer{
  background-color: #161616;
  color: #aaaaaa;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 60px;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
 
}

.site-wrapper {
  min-height: 100vh;
  display:grid;
  grid-template-areas: 
  "header header "
  "nav main"
  "footer footer";
grid-template-rows: 60px 1fr 60px;
grid-template-columns: 20vw 80vw;
height: 100vh;
margin: 0;
}

#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle { 
  grid-area: main;      
  }
#mainNav { 
  grid-area: nav; 
  }

aside {
  background-color: grey;

}

nav > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.logo {
  height: 3vw;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.linkTo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-card{
  display:flex;
  border-radius: 10%;
  width: 15vw;
  height: 15vw;
  flex-wrap:inherit;
  margin: 2vw;
  align-items: center;
  justify-content: center;

  
}

.podcast-card > h2{
  font-size: 2vw;
}

.podcast-show {
  font-size: 2vw;
}

.pod-title{
  font-size: 2vw;
  color: whitesmoke;
}

.podcast-img{
  width: 10vw;
  height: 10vw;
  z-index: 0;
  border-radius: 10%;
}

.podcast-card > p{
  font-size: 1.5vw;
}

.podcast-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

ul{
  list-style: none;
   
}
